.timer{
	padding: 0;
	overflow-y: auto;
}
.timer__screen{
	font-size: 2.5rem;
	font-weight: bold;
}
.timer__wrapper{
	width: 250px;
	min-width: 250px;
	height: 250px;
	min-height: 250px;
	background-color: ghostwhite;
	margin: 150px auto 0;
}
.timer__buttons{
	width: 200px;
	min-height: 50px;
	margin: 50px auto 0;
	cursor: pointer;
}
button{
	display: flex;
	justify-content: center;
	align-items: center;
}
img{
	width: 40px;
	height: 40px;
}
.start-button, .resume-button{
	height: 100%;
	background-color: yellowgreen;
}

.stop-button{
	height: 100%;
	background-color: cadetblue;
}
.reset-button{
	height: 100%;
	background-color: lightcoral;
}
