.timer{
	padding: 0;
	overflow-y: auto;
}
.timer__header{
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 150px;
}
.timer__screen{
	font-size: 2.5rem;
	font-weight: bold;
}
.timer__wrapper{
	width: 250px;
	min-width: 250px;
	height: 250px;
	min-height: 250px;
	margin: 20px auto 0;
}
.timer__buttons{
	width: 200px;
	height: 50px;
	min-height: 50px;
	margin: 30px auto 30px;
	cursor: pointer;
}
button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
img{
	width: 40px;
	height: 40px;
	display: block;
}
.start-button, .resume-button{
	height: 100%;
}

.stop-button{
	height: 100%;
	background-color: cadetblue;
}
.reset-button{
	height: 100%;
	background-color: lightcoral;
}
