@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  box-sizing: border-box;
  font-size: 20px;
  height: 100vh;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
*, *::after, *::before{
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.group {
  display: flex;
  justify-content: space-between;
}

@keyframes session {
  0% {
    background-color: yellowgreen;
  }
  50% {
    background-color: lightgreen;
  }
  100% {
    background-color: yellowgreen;
  }
}
